# VS Code
.vscode/

# Python
*.pyc
virtualenv/
.cache

# Configuration
backend/configs/dev_local.yaml
backend/configs/prod.yaml

# Deployment
frontend/bucket-policy.json
backend/containers.json
backend/public-endpoint.json
