<div class="song-item">
    <div class="song-item-top">
        <div class="votes-cell">
            <app-upvote-button [song]="song">
            </app-upvote-button>
        </div>
        <div class="image-duration-cell">
            <div class="image">
                <img [src]="imageToShow">
            </div>
            <div class="duration">
                {{ song.duration_readable }}
            </div>
        </div>
        <div class="artist-song-name-cell">
            <div class="artist">
                {{ song.artist }}
            </div>
            <div class="song-name">
                {{ song.song_name }}
            </div>
        </div>
        <div class="del-cell">
            <button *ngIf="this.doesRequesterIdMatchUserId()" (click)="onDelete(song)" class="del">x</button>
        </div>
    </div>
    <div class="song-item-bottom ">
        <div>
            <b>Person who requested:</b> {{ song.requester_id }}
        </div>
        <div>
            <b>People who upvoted:</b> {{ song.upvotes }}
        </div>
        <div>
            <b>Time since added:</b> {{ timeSinceCreated }}
        </div>
        <div>
            <b>Wait time until play</b>: {{ songWaitTimeReadable }}
        </div>
    </div>
</div>