<div [ngClass]="setClasses()">
    <div class="song-item-top">
        <div class="votes-cell">
            <app-upvote-button [song]="song">
            </app-upvote-button>
        </div>
        <div class="image-duration-cell">
            <div class="image">
                <img [src]="imageToShow">
            </div>
            <div class="duration">
                {{ song.duration_readable }}
            </div>
        </div>
        <div class="artist-song-name-cell">
            <div class="artist">
                {{ song.artist }}
            </div>
            <div class="song-name">
                {{ song.song_name }}
            </div>
        </div>
        <div class="del-cell">
            <button (click)="onDelete(song)" class="del">x</button>
        </div>
    </div>
    <div class="song-item-bottom">
        <div>
            Time since added: {{ timeSinceCreated }}
        </div>
        <div>
            Wait time until play: {{ songWaitTime }}
        </div>
    </div>
</div>